h1{
    color: #af0505;
}
body{
   background: linear-gradient(190deg, blue 0%, red 51%, #2cb5e8 75%);
    color: aliceblue;
    height: 5000px;
    
}
.hero{
    height: 20vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 25%;
    padding-right: 20%;
    
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
color:white;
text-decoration: none;
font-weight: bold;

}
nav ul li a:hover{
color: #ea1538;
transition: .3s;


}
h1 {
    text-align: center;
}
img {
    float: right;
    margin-right: 10px; 
  }